version: '3.8'

services:
  rpgai:
    image: rpgai
    build:
      context: .
      dockerfile: RpgAI/Dockerfile
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      - ConnectionStrings__Dev=${DEV_CONNECTION_STRING}
      - AiClient__RulebookAgent__ApiKey=${GEMINI_API_KEY}
      - AiClient__EmbeddingAgent__BaseUrl=${CLOUDFLARE_BASE_URL}
      - AiClient__EmbeddingAgent__ApiKey=${CLOUDFLARE_API_KEY}
      - ASPNETCORE_URLS=http://+:8080
    depends_on:
      db:
        condition: service_healthy

  db:
    build:
      context: ./RpgAI/Postgres 
      dockerfile: Dockerfile

    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  pgdata:
